# Byte-compiled / optimized / compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Editors
.vscode/
.idea/
*.swp
*.swo
*~
*.bak
*.orig
*.pyc.orig
*.pyc.rej
*.pyo.rej
*.pyo.orig

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS X files
.DS_Store
.Trashes
._*

# Windows files
Thumbs.db
ehthumbs.db
System Volume Information/
